
body{
background-image: url("photos/tlo.jpg");
margin: 0px;
font-family: 'Astloch';
font-weight: bold;
}
#contener{
margin-left: auto;
margin-right: auto;
width:1000px;
}
#head{  
width:1000px;
height: 150px;
background-color: #BCA092;

}
.nav{
width:100%;
height: 40px;
background-color: #272727;
text-align: center;
border-top: 1px solid #101010;
border-bottom: 1px solid #101010;
}
.sticky{
width:100%;
position: fixed;
left:0;
top:0;
z-index:100;
}
.nav ol{
padding: 0;
margin:0;
list-style-type: none;
height: 340px;
line-height:200%;
font-size:18px;
display: inline-block;
}
.nav ol a{
  text-decoration: none;
  display: block;
  color: #F0F0F0;
}
.nav ol>li{
 float: left;
 width: 150px;
 height: 40px;
 border-right: 1px dashed #F0F0F0; 
}
.nav ol>li:first-child{
  border-left: 1px dashed #F0F0F0;
}
.nav ol>li:hover{
  background-color: #684A3C;
cursor: pointer;
}

#products ol{
padding: 0;
margin:0;
list-style-type: none;
line-height:300%;

}
#products ol>li{
	
 height:90px;
  width:100;
  border-bottom: 1px dashed;
  font-size: 40px;
}
#products ol>li:hover{
cursor: pointer;  
}
#products ol>li:first-child{
 border-top:1px dashed; 
}
#products ol a{
  text-decoration: none;
  color: #F0F0F0;
}
#products ol>li>ul>li:first-child{
	border-top: 1px dashed;
}
#products ol>li>ul{
 list-style-type: none; 
 display: none;
 font-size: 22px;
 text-align: center;
 padding: 0;
margin:0;
 
}
#products ol>li:hover ul{
  display:block;
  position: relative;
  width: 120px;
  left: 120px;
  top:-80px;
  background-color: #272727;
  animation: productsmenu 500ms;
}
#products ol>li>ul>li{
	border-bottom: 1px dashed;
	
}
@keyframes productsmenu{
 0%{opacity: 0; top:5px;} 
 100%{opacity: 1; top 0px;}
}

#content{
width:1000px;
height: 800px;
}

#info{
width:1000px;
height: 140px;
background-color: #272727;
}

#logo{
  float:left;
  width: 200px;
  height:150px;
  
}
.headdiv{
float:left;
width:200px;
height: 150px;
text-align:center;	

}
.headdiv2{
float:left;
height: 150px;
width:600px;
text-align: center;
line-height: 150px;
font-size: 60px;
letter-spacing:12px;
}

#products{
  float:left;
  width: 200px;
  height:790px;
  background-color: #272727;
  color: #F0F0F0;
  font-size:30px;
  text-align: center;
  padding-top: 10px;

    
}
#template{
  float:left;
  width: 600px;
  height:800px;
  background-color: #F0F0F0;
}
#template1{
  float:left;
  width: 600px;
  height:780px;
  background-color: #F0F0F0;
  text-align: center;
  padding-top: 20px;
  font-size: 27px;
  letter-spacing: 3px;
  
}
#reklama{
float:left;
  width: 200px;
  height:480px;
  background-color: #F0F0F0;
}

.social{
	float: left;
	margin:10px;
	height:120px;
	width: 120px;
	font-size: 13px;
	color: #F0F0F0;
}
#tabletemplate{
	background-color:red;
	height:95%;
	width:95%;
	margin: 10px;
}
table, th, td{
	border: 1px solid black;

}
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
	color: #F0F0F0;
	font-family: 'Astloch';
	font-weight: bold;
	font-size:22px;
}
#change{
	padding:20px 30px;
	position: absolute;
	font-size:18px;
	font-family: 'Arial';
	font-weight: normal;
}
table.table1{
	border-collapse: collapse;
	font-family: 'Astloch';
	font-weight: bold;
	text-align: center;
	position: absolute;
}
table.table1 th{
	padding: 10px;
	background-color:#BCA092;
	font-size:30px;
	letter-spacing:8px;
}
table.table1 tr{
	font-size:18px;
}
#accform{
	padding-top: 20px;
	font-weight: bold;
	font-size:22px;
	text-align: center;
	position: relative;
}